*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:grey;
}
body{
    background:rgba(250, 153, 153, 0.2);
    height:100vh; 
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1124px;
    margin: 0 auto;
    padding: 2% 0;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#hidden{
    display:none;
}
.lefttop{
  display: flex;
  align-items: center;
}
.lefttop button{
    border:none;
    padding:9px 14px;
    border-radius: 19px;
    margin-left: 9px; 
    color:white;
    background-image: linear-gradient(to right, rgb(234, 176, 82) 0%, rgb(234, 137, 96) 51%, rgb(234, 95, 112) 100%);
}
a{
    text-decoration: none;
    margin-right: 7px;
    font-size: 15.5px;
}
.topright a{
    font-size: 14px;
}
 button{
    color: white;
    background: rgb(96, 96, 207);
    border:none;
    padding:14px 11px;
    border-radius: 3px;
}
main{
    display:flex;
    margin-top: 7%;
    justify-content:space-between;

}
.midleft,.midright{
    width:50%;
    border-style: solid;
}

h1{
    font-size: 48px;
    color:black;
    line-height:50px;
    margin-top: 5%;
}
p{
    font-size:15.5px;
    width:94%;
    margin:7px 0 7px 0;
}
form{
    width:87%;
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
}
input{
    width:69%;
    padding:14px 0 14px 20px;
    font-size: 15px;
    font-weight: 700;
    border:none;
    border-radius: 3px;
}
form button{
    width:29%;
    font-size: 17px;   
}
.middown{
    display: flex;
}
.middown figure{
    margin-right: 7px;
}
.middown img{
    width:90%;
}
.midright{
    width:40%;
    display: flex;
    justify-content: center;
}
.midright figure {
    position: relative;
    height: 100%; 
}
.midright figure img{
   height:300px; 
}
.a,.b,.c{ 
    position:absolute;
    z-index:-99;
}
.a{
    
    transform: rotate(-35deg);
}
.b{
    
    transform: rotate(-25deg);
}
.c{
   
    transform: rotate(-15deg);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.bottomleft a{
    color:grey;
}
.bottomright{
    display: flex;
    align-items: center;
}

.bottomright figure img{
    width:90%;
}
.bottomright figcaption p{
    color:black;
    font-weight: 500;
    width:100%;
    margin:0;
    font-size: 14.5px;
}
footer a{
    font-size: 14.5px;
    color:rgb(0,0,0);
    font-weight:600;
}
@media (max-width:1100px){
    body{
        padding:9px;
        
    }
    main{
        flex-direction: column-reverse;
        border-style: solid;
        justify-content: start;
    }
    .midleft,.midright{
        width:100%;
    }
    #hidden{
        display:block;
    }
    .topright,.topmid{
        display: none;
    }
    .midright{
        border: 2px red solid;
        width:100%;
       
    }
    form{
        flex-direction: column;
        width:95%;
    }
    form input{
        width:100%;
        margin-bottom: 15px;
    }
    form button{
        width:100%;
    }
    footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .bottomleft{
        margin-bottom: 4%;
    }
}